#first-field {
  margin-top: 5rem;
}
fieldset {
  border: 1px solid var(--footer-background);
  width: 50%;
  padding: 0 0.5rem;
  border-radius: 10px;
}
legend,
label {
  color: var(--textColor);
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  background: var(--footer-background);
  background: none;
  outline: none;
  border-color: var(--textColor);
}
input[type="text"],
input[type="email"] {
  margin: 0.5rem 0;
  display: block;
}
.fn-field:focus {
  outline: none;

  box-shadow: 0px 0px 7px 0px #702b70;
}
.services label,
.wish label .find-us label {
  /* margin-bottom: 0.5rem; */
  padding: 0.5rem;
}
textarea {
  background: none;
  border-color: var(--border-color);
  outline: none;
}
